#about{
    background-color: #202020;
}

.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin-top: 270px;
    padding: 20px;
    margin-bottom: auto;
    background-color: #141313;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
    transition: .7s ease all;
}

.info-container:hover{
    transform: scale(1.1);
}

.info-container h1{
    color:white;
    margin-bottom: 10px;
    text-align: center;
}

.info-container h2{
    color: rgb(182, 182, 255);
    margin-bottom: 25px;
    text-align: center;
}

.info-container p{
    color: white;
    line-height: 45px;
    text-align: center;
}