#home{
    background-color: #141313;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.home-container{
    display: flex;
    margin-left: -300px;
    margin-top: 300px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    line-height: 60px;
}

.home-container .info-home{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
}

.home-container .info-home h2{
    color: white;
    font-size: 30px;
}

.home-container .info-home h2 span{
    color: rgb(182, 182, 255);
    font-size: 30px;
}

.home-container .info-home h1{
    color: rgb(182, 182, 255);
    font-size: 50px;
}

.home-container .info-home p{
    color: white;
    font-size: 20px;
}

.social-media-home-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home-container .info-home .cv-button{
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 2px solid rgb(182, 182, 255);
    cursor: pointer;
    text-decoration: none;
    color: rgb(182, 182, 255);
    width: 200px;
    font-weight: bold;
    transition: .3s ease all;
}

.home-container .info-home .cv-button:hover{
    color: white;
    border-color: white;
}

.home-container .info-home .social-logo-home{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    transition: .3s ease all;
}

.home-container .info-home .social-logo-home:hover{
    color: rgb(182, 182, 255);
}

.img-home-container{
    display: flex;
    margin-left: auto;
    margin-right: 0;
}

.img-home-container img{
    border-radius: 100px;
    width: 200px;
    height: auto;
    border: 2px solid rgb(182, 182, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    transition: .7s ease all;
}

.img-home-container img:hover{
    transform: scale(1.1);
    border-color: white;
}