.home-container{
    display: flex;
    margin-top: 0;
    margin-left: 300px;
    height: 925px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    line-height: 60px;
}

.home-container .info-home{
    margin-right: auto;
    margin-left: 30px;
    margin-top: 10px;
    align-items: center;
    padding: 70px 50px 50px;
}

.home-container .info-home h2{
    color: white;
    font-size: 30px;
}

.home-container .info-home h2 span{
    color: rgb(182, 182, 255);
    font-size: 30px;
}

.home-container .info-home img{
    width: 50px;
    height: auto;
    margin-left: -5px;
    margin-bottom: 10px;
}

.home-container .info-home h1{
    color: rgb(182, 182, 255);
    font-size: 50px;
}

.home-container .info-home p{
    color: white;
    font-size: 20px;
}

.home-container .info-home .cv-button{
    border-radius: 8px;
    border: 2px solid rgb(182, 182, 255);
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: rgb(182, 182, 255);
    padding: 10px 20px;
    transition: .3s ease all;
}

.home-container .info-home .cv-button:hover{
    color: white;
    border-color: white;
}

.img-home-container{
    display: flex;
    margin-left: auto;
    margin-right: 0px;
    margin-top: 0px;
}

.img-home-container img{
    border-radius: 100px;
    width: 200px;
    height: 200px;
    border: 2px solid rgb(182, 182, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    transition: .3s ease all;
}

.img-home-container img:hover{
    transform: scale(1.1);
    border-color: white;
}