@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    font-family: "Nunito", sans-serif;
    box-sizing: border-box; /* esto hace que los contenedores tengan un ancho constante hay que utilizarlo siempre*/
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body{
    background-color: #202020;
    margin: 0;
    padding: 0;
    height: 9000px;
}

#home{
    background-color: #141313;
}

#about{
    background-color: #202020;
    margin-top: 180px;
}

#education-work{
    margin-top: 300px;
    background-color: #141313;
}

#skills{
    margin-top: 200px;
}